<div class="container-fluid">
    <div class="row d-flex d-md-block flex-nowrap wrapper">
        <div class="col-md-3 sidebarWidth float-left col-1 pl-0 pr-0 collapse width" id="sidebar">
            <div class="list-group border-0 card text-center text-md-left">
                <a href="/welcome/{{classInfo.Teacher.username}}" class="list-group-item d-inline-block collapsed homeBtn" data-parent="#sidebar"><i class="fa fa-home"></i> <span class="d-none d-md-inline sidebarNames">Home</span> </a>
                <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span class="d-none d-md-inline sidebarNames">Item 2</span></a>
				<a href="#menu3" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="d-none d-md-inline sidebarNames">Resources</span></a>
                <div class="collapse" id="menu3">
                    <a href="https://github.com/" target="_blank" class="list-group-item" data-parent="#menu3">GitHub</a>
                    <a href="https://stackoverflow.com/" target="_blank" class="list-group-item" data-parent="#menu3">Stack Overflow</a>
                    <a href="https://google.com/" target="_blank" class="list-group-item" data-parent="#menu3">Google</a>
					<a href="https://slack.com/" target="_blank" class="list-group-item" data-parent="#menu3">Slack</a>
                    <a href="https://youtube.com/" target="_blank" class="list-group-item" data-parent="#menu3">Youtube</a>
                    <a href="https://www.wikipedia.org/" target="_blank" class="list-group-item" data-parent="#menu3">Wiki</a>
                </div>
                <a href="/" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-sign-out"></i> <span class="d-none d-md-inline sidebarNames">Logout</span></a>
            </div>
        </div>
		<a href="#" data-target="#sidebar" data-toggle="collapse"><i class="fa fa-bars fa-2x py-2 p-1 m-2 ml-5"></i></a>
        <main class="col-md-12 col px-5 pl-md-3 pt-2 main">
                <!--POST HW MODAL-->
                <div class="modal fade" id="postHwModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="modal-title">Create a new Assignment</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mx-auto">
                                {{!-- alert msgs --}}
                                <div id ="alert-message-hwpost">
                                    <div class="alert-message-failure" id ="alert-message-hwpostfailure"></div>
                                    <div class="alert-message-success" id ="alert-message-hwpostsuccess"></div>
                                 </div>
                                <div class="form-group">
                                    <label for="new-hw-title">Title:</label>
                                    <input class = "col-sm-12 mb-2" type="text" id="hw_title" name="new-class-name" maxlength="30">
                                    <br>
                                    <label for="new-hw-dueDate">Due Date:(mm/dd/yyyy)</label>
                                    <input class = "col-sm-12 mb-2" type="text" id="hw_dueDate" name="new-class-desc" maxlength="500">
                                    </br>
                                    <label for="new-hw-desc">Description:</label>
                                    <textarea class="form-control" id="hw_description" name="new-class-desc" rows="3" maxlength="500"></textarea>
                                    </br>
                                    <button data-classid="{{classInfo.id}}"class="btn btn-outline-success badge-pill" type="submit" id="postNewhw">Create<i class="far fa-check-circle"></i></button>
                                    <br>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a id = "close" class="btn btn-md" role="button" data-dismiss="modal">Close</a>
                            </div>
                        </div>
                    </div> 
                </div>
                {{!-- show submissions modal--}}
                <div class="modal fade" id="showSubmissionsModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="modal-title">Submitted Homeworks from:</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div id="submittedBody" class="modal-body mx-auto">
                                
                            </div>
                            <div class="modal-footer">
                                <a id = "close" class="btn btn-md" role="button" data-dismiss="modal">Close</a>
                            </div>
                        </div>
                    </div> 
                </div>            
                <!--Main body of page-->
                <div id="teacherViewmainHeadings"class="container-fluid text-center">
                    <h1 class="text-capitalize text-white">{{classInfo.classname}}</h1>
                    <h6 class = "text-capitalize text-white">Instructor: {{classInfo.Teacher.username}}</h6>
                </div>
                <div id="mainContainer"class="container-fluid text-center">
                    <button class="btn btn-success badge-pill crteClass col-sm-12 col-md-6 col-lg-4" type="button" data-toggle="modal" data-target="#postHwModal">Add Assignment</button>
                </div>

                {{!-- hw assignments--}}
                {{#each classInfo.Homework}}
                    <div class="card">
                        <div class="card-header bg-white" role="tab" id="headingOne">
                            <h4>{{this.homeworkname}}:</h4>
                                <h6>{{this.homeworkdesc}}</h6> 
                        </div>
                        <div class="card-block bg-white text-center text-capitalize">
                            Due Date: {{this.hwdue}}
                        </div>
                            <button data-classid="{{classInfo.id}}" data-hwid="{{this.id}}" class="btn btn-outline-success badge-pill seeHwsubmissions" type="submit">See Submissions<i class="far fa-check-circle"></i></button>
                    </div>
                {{/each}} 
            </div>
        </main>
    </div>
</div>
